@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0e0e0e, #16161a);
    flex-direction: column;
}

header{
    position: fixed;
    top:0;left: 0;right:0;
    background-color: #3fe5a3;
    padding: 1.3%;
    align-items: end;
}

.logo {
color:#161939;
font-size: medium;
}

.logo i{
    color: #161f39;
}

.calculator{
    border: 0px solid #717377;
    padding: 20px;
    border-radius: 16px;
    width: 41%;
    background: rgb(10, 10, 10);
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    margin-top: 2%;

}

input{
    width: 320px;
    border: auto;
    border-radius: 20px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 50px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #fb7c14;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}





.equalBtn{
    background-color: #fb7c14;
    color:#ffffff
}

.operator{
    color: #00e1ff;
}

button:hover{
    background-color: #292929;
}

.logo{
    font-size:large; 
    text-decoration: none; 
    color: #0f1558;
}

header.logo i{
    color:#0f1558;
}

footer{
    margin-top: 1px;
    color: #ffffff;
    padding: 1%;
    text-align-last:auto;

}
.about{
border: 0px solid white;
color: #ffffff;
height: 20px;
width:80%;
margin-left:50%;
text-decoration: none;




}

nav{
    text-decoration: none;
}

#about{
    color: #ffffff;

}
#terms{
    color:#ffffff
}





.container{

border: 0px solid white;
margin-top: 45%;
margin-left: 40%;
margin-bottom: 20%;
}

.navi{
    float:left;
    margin-left: 300px;
    text-decoration: none;
}
.navi1{
    float:left;
    margin-left: 60px;
    margin-top: 0px;
    text-decoration: none;
}
.navi2{
    float:left;
    margin-left:50px;
    text-decoration: none;
}
legend{
    text-align: center;
}

fieldset{
    margin-top:75px;
    margin-left: 15%;
    margin-bottom: 8%;
    margin-right: 15%;
}

p{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
}